@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:wght@400;500;600;700&family=Lexend:wght@400;500;600;700&family=Livvic:wght@400;500;600;700;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Poppins);
  overflow-x: hidden;
}

/* --------------- Global CSS ------------------ */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1,
.animate {
  font-family: var(--Livvic);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--Lexend);
}

h3 {
  font-family: var(--Abel);
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}

span {
  font-family: var(--Lexend);
  font-size: 0.9rem;
}

p {
  color: var(--text-light);
}

button.btn {
  display: inline-block;
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Livvic);
  outline: none;
  cursor: pointer;
}

.container {
  margin: 0 5vw;
}

.text-gray {
  color: var(--text-gray);
}

/* --------x------- Global CSS -----------x------- */

/* --------x------- CSS Variables -----------x------- */
:root {
  /* -----Fonts------ */
  --Poppins: "Poppins", sans-serif;
  --Abel: "Abel", sans-serif;
  --Anton: "Anton", sans-serif;
  --Lexend: "Lexend Deca", sans-serif;
  --Livvic: "Livvic", sans-serif;

  /* ------Colors------ */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --white: #fff;
  --midnight: #104f55;
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --hover: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
/* --------x------- CSS Variables -----------x------- */

/*------------------ Preloader -----------------*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 4000;
  background: var(--sky);
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader span {
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: var(--white);
  animation: zoomInOut_01 1s ease infinite;
}

@keyframes zoomInOut_01 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* ------x--------- Preloader -----------x------- */

/* --------------- Navbar ------------------ */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white);
  padding: 0 2rem;
  height: 0;
  min-height: 11vh;
  transition: height 0.5s ease-in-out;
  z-index: 999;
  overflow: hidden;
}

.nav.scroll-header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  color: var(--text-gray);
  font-weight: 500;
}

.nav .toggle-collapse {
  position: absolute;
  top: 4px;
  right: 2rem;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icon {
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem 0;
}

.nav .toggle-collapse .toggle-icon i {
  font-size: 1.2rem;
}

.nav .nav-menu {
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-items {
  display: flex;
  align-items: center;
}

.nav .nav-link {
  font-size: 1.1rem;
  padding: 0 1.4rem;
  display: inline;
}

.nav .nav-link:last-child {
  padding-right: 0;
}

.nav .nav-link a {
  position: relative;
  color: var(--text-gray);
  transition: 0.5s ease;
}

.nav .nav-link a::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  right: 0;
  width: 0%;
  height: 2px;
  margin: 0 auto;
  background: var(--midnight);
  border-radius: 30px;
  transition: 0.5s ease;
}

.nav .nav-link a:hover,
.nav .nav-link.current a {
  color: var(--midnight);
}

.nav .nav-link a:hover::after,
.nav .nav-link.current a::after {
  width: 100%;
}

.nav .social a {
  padding: 0 0.3rem;
}

.nav .social a i {
  font-size: 1.2rem;
  color: var(--text-gray);
  transition: 0.5s ease;
}

.nav .social a:hover i {
  color: #a1c4cf;
}
/* -----x--------- Navbar ----------x------ */

/* --------------- Hero Section ----------------- */
.hero {
  background: url("../assets/Background-image.png");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}

.hero .hero-description {
  color: var(--white);
  text-align: center;
  padding-top: 13rem;
}

.hero .hero-description h1,
h3 {
  margin: 0.3rem;
}

.hero .hero-description .btn {
  margin: 1.6rem;
  background: var(--sky);
  transition: 0.5s ease;
}

.hero .hero-description .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}
/* -----x--------- Hero Section ----------x------ */

/* --------------- Blog Section ----------------- */

.blog-container {
  background: url(../assets/Abract01.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 68%;
  height: 100vh;
  width: 100%;
}

.blog-content {
  border-radius: 7px;
}

.blog-content img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.blog-post {
  padding-top: 6rem;
  justify-content: center;
}

.blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.blog-title {
  padding: 2rem 0;
}

.blog-title span {
  display: block;
  padding: 0.2rem 0;
}

.blog-btn {
  padding: 0.7rem 2rem;
  background: var(--sky);
  margin: 0.5rem;
  transition: 0.5s ease;
}

.blog-btn:hover {
  background: var(--hover);
}

.container .owl-nav {
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0 auto;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: var(--text-gray);
  background: transparent;
  font-size: 1.7rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: var(--text-gray);
}

/* -----x--------- Blog Section ----------x------ */

/* --------------- Site Content Section ----------------- */
.site-content {
  display: grid;
  grid-template-columns: 70% 30%;
}

.post-content {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #ddd;
}

.site-content .post-content > .post-image,
.post-title {
  padding: 1rem 2rem;
  position: relative;
}

.site-content .post-content > .post-image .post-info {
  background: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 20vw;
  border-radius: 3rem;
}

.site-content .post-content > .post-image > div {
  overflow: hidden;
}

.site-content .post-content > .post-image .img {
  width: 100%;
  transition: 1s ease;
}

.site-content .post-content > .post-image .img:hover {
  transform: scale(1.3);
}

.site-content .post-info span {
  margin-right: 10px;
}

.site-content .post-info span i {
  margin-right: 5px;
}

.site-content .post-title a {
  font-family: var(--Anton);
  font-size: 1.5rem;
}

.site-content .post-title p {
  margin: 1rem 0;
}

.post-btn {
  background: var(--sky);
  transition: background 0.5s ease;
}

.post-btn:hover {
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.post-btn i {
  margin-left: 5px;
}

.pagination {
  justify-content: center;
  color: var(--text-gray);
  margin: 4rem 0;
}

.pagination a {
  display: inline-block;
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0.3rem;
  font-family: var(--Lexend);
  transition: 0.5s ease;
}

.pagination .pages {
  background: var(--text-gray);
  color: var(--white);
}

.pagination a:hover {
  background: #ddd;
  color: var(--text-gray);
}

/* -----x--------- Site Content Section ----------x------ */

/* --------------- Sidebar ----------------- */
.category-list {
  font-family: var(--Livvic);
}

.category-list .list-items {
  background: var(--sky);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease;
}

.category-list .list-items a {
  color: #111;
}

.sidebar .popular-post h2 {
  padding-top: 8rem;
}

.sidebar .popular-post .post-info {
  padding: 0.4rem 0.1rem !important;
  bottom: 0rem !important;
  left: 5rem !important;
  border-radius: 0rem !important;
  background: var(--white) !important;
}

.sidebar .popular-post .post-content {
  padding: 1rem 0;
  border-bottom: none;
}

.sidebar .popular-post .post-title a {
  font-size: 1.1rem;
}

.sidebar .newsletter {
  padding-top: 10rem;
}

.sidebar .newsletter .form-element {
  padding: 0.5rem 2rem;
}

.sidebar .newsletter .input-element {
  width: 80%;
  height: 2.3rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-family: var(--Lexend);
  outline: none;
}

.sidebar .newsletter .form-btn {
  border-radius: 0;
  padding: 0.8rem 28.6%;
  background: var(--sky);
  margin: 0.5rem 0;
}

.sidebar .popular-tags {
  padding: 5rem 0;
}

.sidebar .popular-tags .tags .tag {
  background: var(--sky);
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}

/* -----x--------- Sidebar ----------x------ */

/* --------------- Footer ----------------- */
.footer {
  background: #111;
  height: 100%;
  position: relative;
  padding-bottom: 1rem;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer .container > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem 0.9rem;
}

.footer .container h2 {
  color: var(--white);
  margin-bottom: 10px;
}

.footer .newsletter p {
  margin-bottom: 10px;
}

.footer .newsletter .form-element {
  background: #111;
  display: inline-block;
}

.footer .newsletter .form-element input {
  padding: 0.5rem 0.7rem;
  border: none;
  font-size: 1rem;
  width: 74%;
  outline: none;
  background: black;
  color: var(--white);
}

.footer .newsletter .form-element span {
  background: var(--sky);
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

.footer .instagram div > img {
  display: inline-block;
  width: 25%;
  height: 50%;
  margin: 0.3rem;
}

.footer .footer-social i {
  color: var(--white);
  margin-right: 10px;
  font-size: 1.1rem;
  padding: 0.8rem 0;
}

.footer .copyright {
  justify-content: center;
}

.footer .copyright h4 {
  font-weight: 600;
}

.footer .moveup {
  position: fixed;
  bottom: 10%;
  right: 3%;
}

.footer .moveup span {
  color: var(--midnight);
  cursor: pointer;
  transition: 0.3s ease;
}

.footer .moveup span:hover {
  color: #34a1c2;
}

/* -----x--------- Footer ----------x------ */

/* --------------- Media Query ----------------- */

/*    Viewport less than or equal to 1130px     */

@media only screen and (max-width: 1130px) {
  .site-content .post-content > .post-image .post-info {
    left: 2rem;
    bottom: 1.2rem;
    border-radius: 0;
  }

  .sidebar .popular-post .post-info {
    display: none;
  }

  .footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*    x   Viewport less than or equal to 1130px   x   */

/*       Viewport less than or equal to 750px      */

@media only screen and (max-width: 750px) {
  /*-----------------
  Hamburger Menu
  -----------------*/

  .menu-btn {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn-burger {
    width: 30px;
    height: 3px;
    background: var(--text-gray);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-burger::before,
  .menu-btn-burger::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: var(--text-gray);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-burger::before {
    transform: translateY(-10px);
  }

  .menu-btn-burger::after {
    transform: translateY(10px);
  }

  .menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .nav .toggle-collapse {
    display: block;
  }

  .collapse {
    height: 25rem;
  }

  .nav .nav-link {
    padding: 0.7rem;
  }

  .nav .nav-link:last-child {
    padding: 0.7rem;
  }

  .nav .nav-menu {
    align-items: flex-start;
  }

  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav-lists {
    display: block;
    margin: auto;
  }

  .nav .social {
    display: block;
    margin: 1rem auto;
  }

  .site-content {
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }

  .sidebar .newsletter {
    text-align: center;
    padding-top: 2rem;
  }

  .sidebar .newsletter .form-btn {
    padding: 0.8rem 34.3%;
  }

  .sidebar .popular-post .post-content:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  .sidebar .popular-post h2 {
    margin-bottom: 0.7rem;
    padding-top: 2rem;
  }

  .site-content .post-content > .post-image,
  .post-title {
    text-align: center;
  }

  h3 {
    font-size: 1.4rem !important;
  }

  .category,
  .popular-post {
    text-align: center;
  }

  .category-list .list-items {
    margin: 0.8rem auto;
  }

  .footer .container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .instagram .flex-row {
    justify-content: center;
  }
}

/*    x   Viewport less than or equal to 750px   x   */

/*        Viewport less than or equal to 520px       */

@media only screen and (max-width: 520px) {
  .nav {
    padding: 0 1rem;
  }

  .nav .toggle-collapse {
    top: 4px;
    right: 1rem;
  }

  .blog {
    height: 100vh;
  }

  .site-content .post-content > .post-image .post-info {
    display: none;
  }

  .footer .container > div {
    padding: 1rem 0.9rem;
  }

  .footer .copyright {
    text-align: center;
  }

  .sidebar .newsletter .form-btn {
    padding: 0.8rem auto;
  }

  .footer .copyright {
    padding: 0 0.5rem;
  }
}

/*    x   Viewport less than or equal to 520px   x   */

/*       Viewport less than or equal to 450px      */
@media only screen and (max-width: 450px) {
  .container {
    margin: 0 auto !important;
  }

  .site-content .post-title a {
    font-size: 1.3rem;
  }
}
/*    x   Viewport less than or equal to 450px   x   */

/* -----x--------- Media Query ----------x------ */
